// GLOBAL COLORS
$yellow-primary: rgb(247, 167, 57);

$green-primary: rgb(134, 196, 33);
$green-primary-2: rgb(128, 204, 48);

$grey-primary-1: rgb(204, 212, 225);
$grey-primary-2: rgb(174, 187, 204);
$grey-primary-3: rgb(161, 173, 191);

$blue-primary-0: rgb(240, 249, 231);
$blue-primary-1: rgb(246, 252, 255);
$blue-primary-2: rgb(232, 245, 251);
$blue-primary-3: rgb(222, 242, 252);

$pink-primary: rgb(255, 246, 246);

$purple-primary: rgb(131, 124, 250);

$yellow-secondary: rgb(244, 127, 55);
$blue-secondary: rgb(0, 156, 222);
$grey-secondary: rgb(58, 78, 111);

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

$nunito-sans: "Nunito", sans-serif;
$roboto-halvetica: "Roboto", sans-serif;
$rubik: "Rubik", sans-serif;
