.headContainer {
  width: 100%;
  background-color: rgb(6, 39, 88);
  height: 400px;
  display: flex;
  padding: 0 20%;
  justify-content: space-around;
  align-items: center;
}

.headContentSection {
  width: 45%;
  font-size: 1.8rem;
}

.headContentSection h1 {
  padding-right: 10%;
  color: rgb(40, 201, 228);
}

.headContentSection span {
  font-weight: 300;
  color: rgb(218, 231, 243);
}

.headImgSection {
  width: 50%;
  height: 100%;
}

.headImgSection img {
  height: 100%;
  width: 100%;
}
