.container {
  background-color: rgba(241, 244, 252, 255);
  color: rgb(47, 47, 47);
  width: 420px;
  border-radius: 20px;
  height: 610px;
  padding: 30px 30px 0px;
  margin: 20px 20px 0px;
}

.containerHead {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.title {
  font-weight: bolder;
  font-size: 1.25rem;
  position: relative;
}

.title hr {
  position: absolute;
  bottom: 8px;
  border: none;
  border-radius: 5px;
  height: 4px;
  width: 24px;
  background-color: rgba(80, 0, 160, 255);
}

.payType h3 {
  font-size: 1.7rem;
  font-weight: normal;
  margin-top: 8px;
  text-align: right;
  color: rgb(47, 47, 47);
}

.payType {
  font-size: 0.95rem;
  color: rgb(154, 153, 177);
}

.contentBody {
  margin: 30px 0px 10px;
  font-weight: 500;
}

.contentBody ul {
  margin: 27px 0px 70px;
  list-style: none;
}

.contentBody ul li {
  display: flex;
  margin-top: 30px;
}

.icon {
  height: 100%;
  width: fit-content;
  padding: 3px;
  margin-right: 20px;
}

.listItem {
  padding-right: 50px;
  line-height: 1.2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer p {
  font-size: 0.8rem;
  font-weight: bolder;
  margin-bottom: 22px;
  cursor: pointer;
}

.footer button {
  background-color: rgba(68, 0, 177, 255);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  padding: 20px 30px;
  border-radius: 20px;
}
