@import "../../../sass/variables";

.backgroundDogeWrapper {
  // clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 100%, 0% 38%);
  background-color: $blue-primary-1;
  z-index: 1;
}

.dogeSectionWrapper {
  padding: 0% 8%;
}

.buyDogeContainer,
.sellDogeContainer {
  margin: 8% 0%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buyDogeContainer,
.sellDogeContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sectionWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5em;
}
