:root {
  --primary1: rgb(120, 83, 185);
  --primary2: rgb(81, 4, 183);
  --primary3: rgb(148, 109, 211);
  --text1: rgb(99, 99, 110);
  --text2: rgb(154, 153, 177);
  --darkcolor: rgb(47, 47, 47);
}
